@import "tailwindcss";

@theme {
  --font-cursive: Pacifico, cursive; /* Define a custom font family */
  --font-poppins: Poppins, sans-serif;
  --color-primary: #fff;
  --color-secondary: #000;
  --color-accent: #00b67f;
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 8px;
  border: 3px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background: darken(var(--color-accent), 10%);
}

::-webkit-scrollbar-corner {
  background: #f0f0f0;
}

*::selection {
  color: var(--color-primary);
  background: var(--color-accent);
}

@keyframes logo-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

@utility animate-logo-bounce {
  animation: logo-bounce 0.4s ease-in-out;
}
