@import "tailwindcss";

@theme {
  --font-cursive: Pacifico, cursive; /* Define a custom font family */
  --font-poppins: Poppins, sans-serif;
  --color-primary: #fff;
  --color-secondary: #000;
  --color-accent: #00b67f;
}

*::selection {
  color: var(--color-primary);
  background: var(--color-accent);
}

@keyframes logo-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

@utility animate-logo-bounce {
  animation: logo-bounce 0.4s ease-in-out;
}
